In [1]:
import pandas as pd
import numpy as np
import pandas_datareader as pdr
import yfinance as yf

In [2]:
import cufflinks as cf
cf.set_config_file(offline=True)
import warnings 
warnings.filterwarnings('ignore')

In [7]:
df1 = yf.download('SPY', period='5d', progress=False)

In [6]:
df1.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-02-02,379.649994,383.220001,376.320007,381.549988,381.549988,64450700
2021-02-03,382.440002,383.700012,380.480011,381.850006,381.850006,52427100
2021-02-04,382.959991,386.239990,381.970001,386.190002,386.190002,47142600
2021-02-05,388.200012,388.470001,386.140015,387.709991,387.709991,48620300
2021-02-08,389.269989,389.950012,388.350006,389.045013,389.045013,19915731

In [8]:
faang_stocks = ['AAPL', 'AMZN']
ohlcv = {symbol: yf.download(symbol, period='250d', progress=False) for symbol in faang_stocks}

In [9]:
ohlcv

{'AAPL':                   Open        High         Low       Close   Adj Close  \
 Date
 2020-02-12   80.367500   81.805000   80.367500   81.800003   81.170799
 2020-02-13   81.047501   81.555000   80.837502   81.217499   80.592773
 2020-02-14   81.184998   81.495003   80.712502   81.237503   80.612625
 2020-02-18   78.839996   79.937500   78.652496   79.750000   79.136566
 2020-02-19   80.000000   81.142502   80.000000   80.904999   80.282684
 ...                ...         ...         ...         ...         ...
 2021-02-02  135.729996  136.309998  134.610001  134.990005  134.788589
 2021-02-03  135.759995  135.770004  133.610001  133.940002  133.740158
 2021-02-04  136.300003  137.399994  134.589996  137.389999  137.184998
 2021-02-05  137.350006  137.419998  135.860001  136.759995  136.759995
 2021-02-08  136.029999  136.899994  134.929993  136.235001  136.235001

                Volume
 Date
 2020-02-12  113730400
 2020-02-13   94747600
 2020-02-14   80113600
 2020-02-18  152531200
 2020-02-19   93984000
 ...               ...
 2021-02-02   83305400
 2021-02-03   89880900
 2021-02-04   84183100
 2021-02-05   75524000
 2021-02-08   46700210

 [250 rows x 6 columns],
 'AMZN':                    Open         High          Low        Close    Adj Close  \
 Date
 2020-02-12  2163.199951  2180.250000  2155.290039  2160.000000  2160.000000
 2020-02-13  2144.989990  2170.280029  2142.000000  2149.870117  2149.870117
 2020-02-14  2155.679932  2159.040039  2125.889893  2134.870117  2134.870117
 2020-02-18  2125.020020  2166.070068  2124.110107  2155.669922  2155.669922
 2020-02-19  2167.800049  2185.100098  2161.120117  2170.219971  2170.219971
 ...                 ...          ...          ...          ...          ...
 2021-02-02  3380.000000  3427.739990  3361.129883  3380.000000  3380.000000
 2021-02-03  3425.010010  3434.000000  3308.620117  3312.530029  3312.530029
 2021-02-04  3330.000000  3347.000000  3277.750000  3331.000000  3331.000000
 2021-02-05  3319.000000  3377.000000  3302.709961  3352.149902  3352.149902
 2021-02-08  3358.500000  3365.000000  3304.000000  3309.870117  3309.870117

              Volume
 Date
 2020-02-12  3334300
 2020-02-13  3031800
 2020-02-14  2606200
 2020-02-18  2945600
 2020-02-19  2561200
 ...             ...
 2021-02-02  7098600
 2021-02-03  7088800
 2021-02-04  3670700
 2021-02-05  3613600
 2021-02-08  2126061

 [250 rows x 6 columns]}

In [11]:
# Display AMZN adjusted close data
ohlcv['AMZN']['Adj Close']

Date
2020-02-12    2160.000000
2020-02-13    2149.870117
2020-02-14    2134.870117
2020-02-18    2155.669922
2020-02-19    2170.219971
                 ...
2021-02-02    3380.000000
2021-02-03    3312.530029
2021-02-04    3331.000000
2021-02-05    3352.149902
2021-02-08    3309.870117
Name: Adj Close, Length: 250, dtype: float64